package cmd

import (
	"log/slog"

	"github.com/fatih/color"
	"github.com/haijima/cobrax"
	"github.com/spf13/afero"
	"github.com/spf13/cobra"
	"github.com/spf13/viper"
)

// NewRootCmd represents the root command of CLI
func NewRootCmd(v *viper.Viper, fs afero.Fs) *cobra.Command {
	rootCmd := cobrax.NewRoot(v)
	rootCmd.Use = "{{ .AppName }}"
	rootCmd.Short = "{{ .Description }}"
{{- if not .SubCommands }}
	rootCmd.Args = nil
{{- end }}
	rootCmd.PersistentPreRunE = func(cmd *cobra.Command, args []string) error {
		// Colorization settings
		color.NoColor = color.NoColor || v.GetBool("no-color")
		// Set Logger
		l := slog.New(slog.NewTextHandler(cmd.ErrOrStderr(), &slog.HandlerOptions{Level: cobrax.VerbosityLevel(v)}))
		slog.SetDefault(l)
		cobrax.SetLogger(l)

		// Read config file
		opts := []cobrax.ConfigOption{cobrax.WithConfigFileFlag(cmd, "config"), cobrax.WithOverrideBy(cmd.Name())}
		if err := cobrax.BindConfigs(v, cmd.Root().Name(), opts...); err != nil {
			return err
		}
		// Bind flags (flags of the command to be executed)
		if err := v.BindPFlags(cmd.Flags()); err != nil {
			return err
		}

		slog.Debug("bind flags and config values")
		slog.Debug(cobrax.DebugViper(v))
		return nil
	}
{{- if not .SubCommands }}
	rootCmd.RunE = func(cmd *cobra.Command, args []string) error {
		return runRoot(cmd, v, fs, args)
	}
{{- else }}
{{ range .SubCommands }}
	rootCmd.AddCommand(New{{ . | title }}Cmd(v, fs)){{ end }}
{{- end }}

	rootCmd.SetGlobalNormalizationFunc(cobrax.SnakeToKebab)

	return rootCmd
}
{{- if not .SubCommands }}

func runRoot(cmd *cobra.Command, v *viper.Viper, fs afero.Fs, args []string) error {
	return nil
}
{{- end }}
