name: release
on:
  push:
    tags:
      - v*
permissions: write-all

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
      - uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{"{{"}} secrets.GITHUB_TOKEN {{"}}"}}
{{- if .UseHomebrew }}
          PAT_FOR_HOMEBREW_TAP: ${{"{{"}} secrets.PAT_FOR_HOMEBREW_TAP {{"}}"}}
{{- end }}
    continue-on-error: true
